<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title Image Library</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/sammy")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
    <script src="Scripts/http-requester.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
    <script src="Scripts/class.js"></script>
    <script src="Scripts/ui.js"></script>
    <script src="Scripts/persister.js"></script>
    <script src="Scripts/controller.js"></script>
</head>
<body>
    <div id="wrapper" class="container">
        <header class="text-center">
            <h3>Image Gallery</h3>
        </header>
        @RenderBody()
    </div>
</body>
</html>
